sphinx>=4.2.0  # BSD
sphinx-rtd-theme>=1.0.0  # MIT
sphinxcontrib-blockdiag  # BSD
sphinxcontrib-seqdiag # BSD
sphinxcontrib-openapi  # BSD - OpenAPI/Swagger spec renderer
sphinxcontrib-spelling
sphinxcontrib-plantuml
six
