sphinx>=4.2.0  # BSD
sphinx-rtd-theme>=1.0.0  # MIT
Pillow<10 # Diagram extensions (not compatible with Pillow>=10)
sphinxcontrib-blockdiag  # BSD
sphinxcontrib-seqdiag # BSD
sphinxcontrib-openapi==0.7.0  # BSD - pinned to avoid sphinx-mdinclude/docutils incompatibility
sphinxcontrib-swaggerdoc  # TODO: Remove in separate change (unmaintained)
sphinxcontrib-spelling
sphinxcontrib-plantuml
six
