<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
    <h1><%= title %></h1>
    <p>Select user</p>
		<% dgeusers.forEach( function(dgeuser) { %>
		  <p><a href='listFlows/<%= dgeuser %>/lib/flows'><%= dgeuser %></a></p>
	  <% }); %>
  </center>
  </body>
</html>
